/* Add a black background color to the top navigation */
.topnav {
    background-color: #405729;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    position: relative;
    left: 25%;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #405729;
    color: white;
}

body {
    background-color: #83a362;
}

h1 {
    color: white;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #405729;
    text-align: center;
    line-height: 0.5;
    font-size: 14px;

}

.topnav h4 {
    font-family: Schoolbell;
    float: left;
    color: white;
}

/*.slogan {
    font-family: Schoolbell;
    float: left;
    color: white;
    position: absolute;
    top:10%;
}*/

.sisu {
    display: inline-block;
    text-align: left;
    float: left;
}

.pilt {
    display: inline-block;
    float: left;
}

.button {
    background-color: #405729;
        color: white;
        padding: 0px;
        border-radius: 0px;
        -moz-border-radius: 0px;
        -webkit-border-radius: 0px;
        margin:10px;
        font-size: 25px;
}

.big-button {
    width: 360px;
    height: 80px;
}

.toetused {
    color: brown;
}


